<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
<div class="summary">

    <ul> 
    	<li>U.S Citizen seeking Full-Time position either in U.S or Canada</li><br>
    	<li>Seeking to explore career possibilities through my engineering education. I am familiar 
            with various programming languages. I am a hardworker and a determined individual who is 
            willing and able to learn and expand my experiences and problem solving skills. I am a 
            collaborative team player as well as a dependable and independent worker. I never settle 
            until my good is better and my better is best.
    	</li><br>
		<li>Date of Graduation: June 15, 2017</li><br>
		<li>Willing and able to relocate</li><br>
        <li>Available immediately</li>
	</ul>
	
</div><!--//summary-->
</section><!--//section-->