<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer Intern</h3>
                            <div class="time">June 2016 - September 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">FD Labs, Ottawa</div>
                    </div><!--//meta-->
                    <div class="details">
                        <ul>

                            <li>I worked alongside a small DevOps team where we automated the creation of software builds and deployments in order to streamline the company's development work flows.
                            </li>
                            <li> Developed several bash scripts which were implemented in the nightly build.</li>
                            <li>Developed Q scripts to import, manipulate and store tables of data which resulted in proper documentation of all the failed Jasmine unit test.
                            </li>
                            <li>Rebranded chrome to be an extension of the company's version of chrome in Analsyt which enabled clients behind strict firewalls to use the company's product (Analyst)
                            </li>
                            <li>Added support for specifying Kdb database revision.</li>
                            <li>Implemented headless chrome as the default browser to run Jasmine unit test using Karma. This resulted in using a more reliable browser to run unit test as opposed to the previous, PhantomJS.
                            </li>
                            <li>Developed several JSHint reporters as the standard format to keep track of failed Jasmine unit test.
                            </li>
                            <li>Installed and configured a basic LDAP server on Centos and integrated the LDAP server with Delta Control.
                            </li>
                            <li>Converted PEM-format certificates to the stanadard Java KeyStore(JKS) format.</li>
                            <li>Built a docker container to dockerize the the company's product(Analyst).</li>
                            <li>Updated scripts to run builds that use previously compiled binaries.</li>
                            <li>Used Git for version control.</li>


                        </ul>


                    </div><!--//details-->
            
               </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <!--  <h3 class="job-title">Senior Software Engineer</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                       <!-- <div class="company">Google, London</div>
                    </div><!--//meta-->
                    <!--<div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <!--<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">UI Developer</h3>
                            <div class="time">2012 - 2014</div>
                        </div><!--//upper-row-->
                    <!--    <div class="company">Amazon, London</div>
                    </div><!--//meta-->
                  <!--  <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                
            </section><!--//section-->